<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>注册</title>
    <link rel="stylesheet" type="text/css" href="css/public.css"/>
    <link rel="stylesheet" type="text/css" href="css/login.css"/>
    <script type="text/javascript" src="js/jquery-3.4.1.min.js"></script>
</head>
<body><!-------------------reg-------------------------->
<div class="reg">
    <form action="reg" method="post">
        <h1>
            <a href="index.html"><img src="img/temp/logo.png"></a>
        </h1>
        <p>用户注册</p>
        <p><input type="text" name="username"  placeholder="请输入用户名"></p>
        <p><input type="password" name="password"  placeholder="请输入密码"></p>
        <p><input id="phone" type="text" name="phone"  placeholder="请输入电话号码" ></p>
        <p><input type="text" name="email"  placeholder="请输入邮箱"></p>
        <p><input type="text" name="address"  placeholder="请确认收货地址"></p>
        <p><input type="submit"  value="注册"></p>
        <p class="txtL txt">完成此注册，即表明您同意了我们的
            <a href="#">
                使用条款和隐私策略
            </a>
        </p>
        <p class="txt">
            <a href="#">已有账号登录</a>
        </p>
        <!--<a href="#" class="off"><img src="img/temp/off.png"></a>-->
    </form>
</div>

<script>
    $(function(){
        $("#phone").blur(function(){
            var reg = new RegExp(/^1[34578]\d{9}$/);
            var phone = $(this).val();
            if(!(reg.test(phone))){
                alert("电话号码应为11位数字，请检查");
            }
        });
    })
</script>
</body>
</html>